In [1]:
from collections import defaultdict
import pandas as pd
import gzip
from tqdm import *
import numpy as np 
import random
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import math
import matplotlib.pyplot as plt
#from common import *
import os
#import dataset
#from utils import *

In [2]:
def get_testdata(test_pos, test_neg):
    neg_pairs = []
    for i in range(len(test_neg)):
        u, neg_list = test_pos['userID'].values[i], test_neg.iloc[i][1:]
        #if len(neg_list) != 999:
        #rem_idx = random.choice(range(1,len(neg_list)+1))
        #del neg_list[rem_idx]
        #print(len(neg_list))
        neg_pairs.extend([[u,b,0,0] for b in neg_list])
    neg_valid = pd.DataFrame(data=neg_pairs,columns = test_pos.columns)
    test_data = test_pos.append(neg_valid).reset_index(drop=True)
    return test_data

## ML-1M

In [ ]:
path = './data'
cols=['userID','bookID','rating','stamp']
ml_train_data = pd.read_csv(os.path.join(path,'ml-1m.train.rating'),sep='\t',header=None,names=cols)
ml_test_pos = pd.read_csv(os.path.join(path,'ml-1m.test.rating'),sep='\t',header=None,names=cols)
ml_test_neg = pd.read_csv(os.path.join(path,'ml-1m.test.negative'),sep='\t',header=None)

In [ ]:
ml_test_neg.iloc[0][1:]

In [ ]:
ml_test_data = get_testdata(ml_test_pos, ml_test_neg)

In [ ]:
ml_train_data.to_csv(r'.\data\ml-1m\train-ml.txt', header=None, index=None, sep='\t', mode='a')
ml_train_data.head()

In [ ]:
ml_test_data.to_csv(r'.\data\ml-1m\test-ml.txt', header=None, index=None, sep='\t', mode='a')
ml_test_data.head()

In [ ]:
ml_test_pos

## Pinterest-20

In [ ]:
path = './data'
cols=['userID','bookID','rating','stamp']
pin_train_data = pd.read_csv(os.path.join(path,'pinterest-20.train.rating'),sep='\t',header=None,names=cols)
pin_test_pos = pd.read_csv(os.path.join(path,'pinterest-20.test.rating'),sep='\t',header=None,names=cols)
pin_test_neg = pd.read_csv(os.path.join(path,'pinterest-20.test.negative'),sep='\t',header=None)

In [ ]:
pin_test_pos

In [ ]:
pin_test_neg.iloc[0][1:]

In [ ]:
pin_test_data = get_testdata(pin_test_pos, pin_test_neg)

In [ ]:
pin_test_data.shape

In [ ]:
pin_train_data.to_csv(r'.\data\pinterest\train-pinterest.txt', header=None, index=None, sep='\t', mode='a')
pin_train_data.head()

In [ ]:
pin_test_data.to_csv(r'.\data\pinterest\test-pinterest.txt', header=None, index=None, sep='\t', mode='a')
pin_test_data.head()

## Yelp

In [ ]:
# path = './data'
# cols=['userID','bookID','rating','stamp']
# yelp_train_data = pd.read_csv(os.path.join(path,'yelp.train.rating'),sep='\t',header=None,names=cols)
# yelp_test_pos = pd.read_csv(os.path.join(path,'yelp.test.rating'),sep='\t',header=None,names=cols)
# yelp_test_neg = pd.read_csv(os.path.join(path,'yelp.test.negative'),sep='\t',header=None)

In [ ]:
yelp_train_data

In [ ]:
yelp_test_pos

In [ ]:
yelp_test_neg

In [ ]:
yelp_test_data = get_testdata(yelp_test_pos, yelp_test_neg)

In [ ]:
yelp_test_data

In [ ]:
yelp_train_data.to_csv(r'.\data\yelp\train-yelp.txt', header=None, index=None, sep='\t', mode='a')
yelp_train_data.head()

In [ ]:
yelp_test_data.to_csv(r'.\data\yelp\test-yelp.txt', header=None, index=None, sep='\t', mode='a')
yelp_test_data.head()

## Yelp-1000

In [3]:
path = '../ConvNCF/Data'
cols=['userID','bookID','rating','stamp']
yelp_train_data = pd.read_csv(gzip.open(os.path.join(path,'yelp.train.rating.gz'), 'rt'),sep='\t',header=None,names=cols)
yelp_test_pos = pd.read_csv(gzip.open(os.path.join(path,'yelp.test.rating.gz'), 'rt'),sep='\t',header=None,names=cols)
yelp_test_neg = pd.read_csv(gzip.open(os.path.join(path,'yelp.test.negative.gz'), 'rt'),sep='\t',header=None)

In [4]:
yelp_train_data

        userID  bookID  rating       stamp
0            0       0     4.0  1329148800
1            0       1     4.0  1335888000
2            0       0     4.0  1337011200
3            0       3     2.0  1367856000
4            0       4     3.0  1367942400
...        ...     ...     ...         ...
705108   25676   22086     5.0  1384012800
705109   25676    5614     5.0  1404921600
705110   25676   18222     5.0  1374768000
705111   25676    5452     5.0  1365955200
705112   25676    1588     5.0  1401206400

[705113 rows x 4 columns]

In [5]:
yelp_test_pos

       userID  bookID  rating       stamp
0           0      32     4.0  1420473600
1           1       0     5.0  1388592000
2           2       0     5.0  1389110400
3           3       0     5.0  1418313600
4           4     279     1.0  1372694400
...       ...     ...     ...         ...
25672   25672   25776     5.0  1391529600
25673   25673   25813     5.0  1308412800
25674   25674    9108     5.0  1392480000
25675   25675    8849     5.0  1419955200
25676   25676    5448     5.0  1366041600

[25677 rows x 4 columns]

In [6]:
yelp_test_neg

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,"(0,32)",15105,18019,20671,25523,136,10077,5883,18723,9891,...,21939,13329,23529,15873,604,23614,25158,2698,13241,2304
1,"(1,0)",25024,1273,18124,16914,22571,11743,18397,11259,4671,...,19104,11405,14791,8452,706,17182,1344,18987,4905,2141
2,"(2,0)",2217,251,24924,12657,7224,7743,13913,24721,851,...,2782,2109,11857,13484,5531,20015,10898,7663,16185,20796
3,"(3,0)",694,14455,23032,1708,2028,13610,18774,19502,6885,...,7540,10013,16862,5314,7908,10006,5024,12031,20307,15316
4,"(4,279)",20014,24339,14556,11817,19634,20879,20721,1482,9715,...,10887,4210,7264,5085,5405,11619,15143,15192,25106,3800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25672,"(25672,25776)",22323,2584,7975,19992,5979,4208,14601,22496,23523,...,5344,21747,7512,23112,19960,22132,21002,10236,10154,15710
25673,"(25673,25813)",20101,6874,3904,12587,16265,4148,12210,13067,15599,...,6682,3764,6468,14211,18716,21565,14632,20992,9977,4328
25674,"(25674,9108)",15658,14016,6920,23149,14736,10101,16963,16614,18172,...,18334,13288,25482,10072,1068,5409,12876,8458,3571,10693
25675,"(25675,8849)",22690,17212,9349,12737,3090,6374,3984,21893,15065,...,15197,13875,2984,1204,12063,4322,842,822,14824,10811
25676,"(25676,5448)",15121,24665,7630,18165,20340,6942,10397,4344,19673,...,10454,13106,19854,8124,4460,14360,2425,18648,16283,23642

In [7]:
yelp_test_data = get_testdata(yelp_test_pos, yelp_test_neg)

In [13]:
yelp_train_data.to_csv(r'train-yelp.txt', header=None, index=None, sep='\t', mode='a')
yelp_train_data.head()

   userID  bookID  rating       stamp
0       0       0     4.0  1329148800
1       0       1     4.0  1335888000
2       0       0     4.0  1337011200
3       0       3     2.0  1367856000
4       0       4     3.0  1367942400

In [14]:
yelp_test_data.to_csv(r'test-yelp.txt', header=None, index=None, sep='\t', mode='a')
yelp_test_data.head()

   userID  bookID  rating       stamp
0       0      32     4.0  1420473600
1       1       0     5.0  1388592000
2       2       0     5.0  1389110400
3       3       0     5.0  1418313600
4       4     279     1.0  1372694400

In [15]:
yelp_test_data

          userID  bookID  rating       stamp
0              0      32     4.0  1420473600
1              1       0     5.0  1388592000
2              2       0     5.0  1389110400
3              3       0     5.0  1418313600
4              4     279     1.0  1372694400
...          ...     ...     ...         ...
25676995   25676   14360     0.0           0
25676996   25676    2425     0.0           0
25676997   25676   18648     0.0           0
25676998   25676   16283     0.0           0
25676999   25676   23642     0.0           0

[25677000 rows x 4 columns]

## Yelp-5

In [3]:
path = '../data/yelp'
train = pd.read_csv(os.path.join(path,'train.txt'), sep='\t', header=0)
test = pd.read_csv(os.path.join(path,'test.txt'), sep='\t', header=0)
train.append(test)
cols=['userID','bookID','rating','timestamp']
train.columns = cols
train.head()

/Users/aaronhe/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

   userID  bookID  rating   timestamp
0       0       1     4.0  1335888000
1       0       0     4.0  1337011200
2       0       3     2.0  1367856000
3       0       4     3.0  1367942400
4       0       5     2.0  1336233600

## Re-map

In [4]:
print("before:", len(train))
data = train[train["rating"]>=5.0]
print("after:", len(data))

before: 705993
after: 214451

In [5]:
user_map = dict(zip(data["userID"].unique(), range(data["userID"].nunique())))
item_map = dict(zip(data["bookID"].unique(), range(data["bookID"].nunique())))
data["userID"] = data["userID"].apply(lambda x: user_map[x])
data["bookID"] = data["bookID"].apply(lambda x: item_map[x])
assert data["userID"].nunique() == data["userID"].max() + 1
assert data["bookID"].nunique() == data["bookID"].max() + 1

/Users/aaronhe/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/aaronhe/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
data.head()

    userID  bookID  rating   timestamp
13       0       0     5.0  1336406400
19       0       1     5.0  1368460800
28       0       2     5.0  1376928000
39       0       3     5.0  1336147200
41       0       4     5.0  1350576000

In [7]:
DEFAULT_USER_COL = 'userID'
DEFAULT_TIMESTAMP_COL = 'timestamp'
def leave_k_out_split(data, k=1, by=DEFAULT_USER_COL, chrono=True, margin=1):
    if chrono == False or len(data.columns.to_list()) <= 3:
        data = data.sample(frac=1)
        df_grouped = data.groupby(by)
    else:
        df_grouped = data.sort_values(DEFAULT_TIMESTAMP_COL).groupby(by)            
    leave_index = []
    for name, group in df_grouped:
        index = group.index
        if len(index) >= (k+margin):
            leave_index.extend(index[-k:])
    test = data.iloc[leave_index]
    train = data.iloc[list(set(data.index)-set(leave_index))] 
    print("leave_k_out split for %d/%d group(s)!" % (len(leave_index)//k, len(df_grouped)))
    return train.reset_index(drop=True), test.reset_index(drop=True)

In [8]:
def get_traintest(data1):
    _, _, _, _, _, usernotread1 = get_embedding(data1)
    train1, test1 = leave_k_out_split(data1)
    neg_sample1 = 99
    neg_pairs1 = []
    for user in test1[DEFAULT_USER_COL].values:
        neg_pairs1.extend([[user,i,0,0] for i in random.sample(usernotread1[user], neg_sample1)])
    neg_valid1 = pd.DataFrame(data=neg_pairs1,columns = train1.columns)
    test1 = test1.append(neg_valid1).reset_index(drop=True)
    return train1, test1

In [9]:
def get_embedding(data):
    users, books = data['userID'].values, data['bookID'].values 
    user_books, usernotread, usernotread_idx = defaultdict(set), defaultdict(set), defaultdict(set)
    all_users, all_books = list(set(users)), list(set(books))
    user2index, book2index = defaultdict(int), defaultdict(int)
    for i in range(len(users)):
        user_books[users[i]].add(books[i])
    
    for b_idx in range(len(all_books)):
        book2index[all_books[b_idx]] = b_idx

    all_books = set(all_books)
    # embedding
    for u_idx in range(len(all_users)):
        u = all_users[u_idx]
        user2index[u] = u_idx
        usernotread[u] = all_books-user_books[u]
        usernotread_idx[u_idx] = set([book2index[b] for b in usernotread[u]])
        usernotread[u] = list(usernotread[u])
         
    all_books = list(all_books)      
    return all_users, all_books, user_books, user2index, book2index, usernotread

In [ ]:
train, test = get_traintest(data)

## Goodread

In [ ]:
path = './data'
gr_data = pd.read_csv(os.path.join(path,'ratings.csv'),sep=',',header=0)
gr_data['timestamp'] = 0*(len(gr_data)-1)
cols=['userID','bookID','rating','timestamp']
gr_data.columns = cols
gr_data.head()

In [ ]:
DEFAULT_USER_COL = 'userID'
DEFAULT_TIMESTAMP_COL = 'timestamp'
def leave_k_out_split(data, k=1, by=DEFAULT_USER_COL, chrono=True, margin=1):
    if chrono == False or len(data.columns.to_list()) <= 3:
        data = data.sample(frac=1)
        df_grouped = data.groupby(by)
    else:
        df_grouped = data.sort_values(DEFAULT_TIMESTAMP_COL).groupby(by)            
    leave_index = []
    for name, group in df_grouped:
        index = group.index
        if len(index) >= (k+margin):
            leave_index.extend(index[-k:])
    test = data.iloc[leave_index]
    train = data.iloc[list(set(data.index)-set(leave_index))] 
    print("leave_k_out split for %d/%d group(s)!" % (len(leave_index)//k, len(df_grouped)))
    return train.reset_index(drop=True), test.reset_index(drop=True)

In [ ]:
def get_traintest(data1):
    _, _, _, _, _, usernotread1 = get_embedding(data1)
    train1, test1 = leave_k_out_split(data1)
    neg_sample1 = 99
    neg_pairs1 = []
    for user in test1[DEFAULT_USER_COL].values:
        neg_pairs1.extend([[user,i,0,0] for i in random.sample(usernotread1[user], neg_sample1)])
    neg_valid1 = pd.DataFrame(data=neg_pairs1,columns = train1.columns)
    test1 = test1.append(neg_valid1).reset_index(drop=True)
    return train1, test1

In [ ]:
gr_train_data, gr_test_data = get_traintest(gr_data)

In [ ]:
gr_train_data.to_csv(r'.\data\goodread\train-goodread.txt', header=None, index=None, sep='\t', mode='a')
gr_train_data.head()

In [ ]:
gr_test_data.to_csv(r'.\data\goodread\test-goodread.txt', header=None, index=None, sep='\t', mode='a')
gr_test_data.head()

In [ ]:
train_users, _, _, _, _, _ = get_embedding(gr_data)

In [ ]:
len(train_users)

In [ ]:
test_users, _, _, _, _, _ = get_embedding(gr_test_data)

In [ ]:
len(test_users)

In [ ]:
print(gr_data.shape)
print(gr_test_data.shape)

## Kaggle model test

In [ ]:
path = './data/kaggle'
cols = cols=['userID','bookID','rating','timestamp']
kaggle_train = pd.read_csv(os.path.join(path,'train.txt'),sep='\t',names=cols)
kaggle_test = pd.read_csv(os.path.join(path,'test.txt'),sep='\t',names=cols)
kaggle_train.head()

In [ ]:
Xtest = kaggle_test[['userID', 'bookID']].to_numpy()
ytest = (kaggle_test['rating'] != 0).to_numpy().astype(int)

In [ ]:
class BPR_MF:
    def __init__(self, p_lambda, lr, max_epoch, dimension, eva_k, batch_size):
        self.p_da = p_lambda
        self.lr = lr
        self.epo = max_epoch
        self.k = dimension
        self.eva_k = eva_k
        self.bs = batch_size

    def predict(self, u, b):
        return self.w[self.u2i[u]].dot(self.h[self.b2i[b]].T)
    
    def fit(self, train_data, Xvalid, yvalid, record_epoch):
        self.all_u, self.all_b, self.u_b, self.u2i, self.b2i, self.usernotread = get_embedding(train_data)
        self.w = np.random.normal(0,0.01,(len(self.all_u),self.k))
        self.h = np.random.normal(0,0.01,(len(self.all_b),self.k))
        ones = np.ones((self.k, 1))
        self.test_user_book_rank = test_u_b_rank(Xvalid, yvalid)
        self.hr, self.ndcg, self.auc = [], [], []
        self.record_w, self.record_h = [], []
        accu_w, accu_h = [0]*self.k, [0]*self.k
        
        for epoch in tqdm_notebook(range(self.epo)):
            user_list, item_pos_list, item_neg_list = self.shuffle(train_data) # shuffle 
            for i in range(len(user_list)): # length of data divides batch_size
                u_idx_batch, i_idx_batch, j_idx_batch = user_list[i], item_pos_list[i], item_neg_list[i]           
                x_uij_batch = (self.w[u_idx_batch] * (self.h[i_idx_batch]-self.h[j_idx_batch])).dot(ones)
                sigmoid_x_batch = 1/(1+np.exp(x_uij_batch))
                # update w and h
                w_diff = sigmoid_x_batch*(self.h[j_idx_batch]-self.h[i_idx_batch]) + self.p_da*self.w[u_idx_batch]
                i_diff = sigmoid_x_batch*(-self.w[u_idx_batch]) + self.p_da*self.h[i_idx_batch]
                j_diff = sigmoid_x_batch*self.w[u_idx_batch] + self.p_da*self.h[j_idx_batch]
                self.w[u_idx_batch] -= self.lr*w_diff 
                self.h[i_idx_batch] -= self.lr*i_diff
                self.h[j_idx_batch] -= self.lr*j_diff
            
            #if (epoch+1) % 10 == 0:
            ndcg, hr, auc = evaluation(self.test_user_book_rank, self.predict, self.eva_k)
            self.hr.append(hr)
            self.ndcg.append(ndcg)
            self.auc.append(auc)
            print(f'epoch: {epoch+1}, HR: {hr}, NDCG: {ndcg}, AUC: {auc}')
            if epoch == record_epoch:
                self.record_w = self.w.copy()
                self.record_h = self.h.copy()
       
    def shuffle(self, dataset):
        user_input = dataset['userID'].values
        item_input_pos = dataset['bookID'].values
        index = list(range(len(user_input)))
        np.random.shuffle(index)
        num_batch = len(user_input) // self.bs
        user_list, item_pos_list, item_neg_list = [], [], []
        for i in range(num_batch):
            begin = i * self.bs
            user_batch = [self.u2i[u] for u in user_input[index[begin:begin+self.bs]]]
            item_batch = [self.b2i[b] for b in item_input_pos[index[begin:begin+self.bs]]]
            item_neg_batch = [self.b2i[random.choice(self.usernotread[u])] for u in user_input[index[begin:begin+self.bs]]]
                
            user_list.append(user_batch)
            item_pos_list.append(item_batch)
            item_neg_list.append(item_neg_batch)
        return user_list, item_pos_list, item_neg_list


class BPR_GMF(BPR_MF):
    def __init__(self, p_lambda, lr, max_epoch, dimension, eva_k, batch_size, ratio=1e-2):
        super(BPR_GMF, self).__init__(p_lambda, lr, max_epoch, dimension, eva_k, batch_size)
        self.ratio = ratio

    def predict(self, u, b):
        return self.g.dot(self.w[self.u2i[u]] * (self.h[self.b2i[b]]))
    
    def fit(self, train_data, Xvalid, yvalid, record_epoch):
        self.all_u, self.all_b, self.u_b, self.u2i, self.b2i, self.usernotread = get_embedding(train_data)
        self.w = np.random.normal(0,0.01,(len(self.all_u),self.k))
        self.h = np.random.normal(0,0.01,(len(self.all_b),self.k))
        self.g = np.ones(self.k)
        self.test_user_book_rank = test_u_b_rank(Xvalid, yvalid)
        self.hr, self.ndcg, self.auc = [], [], []
        self.record_w, self.record_h = [], []
        
        for epoch in tqdm_notebook(range(self.epo)):
            user_list, item_pos_list, item_neg_list = self.shuffle(train_data) # shuffle
            for i in range(len(user_list)): # length of data divides batch_size
                u_idx_batch, i_idx_batch, j_idx_batch = user_list[i], item_pos_list[i], item_neg_list[i]           
                x_uij_batch = (self.w[u_idx_batch] * (self.h[i_idx_batch]-self.h[j_idx_batch])).dot(self.g)
                sigmoid_x_batch = 1/(1+np.exp(x_uij_batch))[:, None] # (64,)
                # update g, w and h
                diff_g = self.ratio*self.lr*(np.mean(sigmoid_x_batch*self.w[u_idx_batch]*(self.h[j_idx_batch]-self.h[i_idx_batch]), axis=0))
                diff_w = self.lr*(sigmoid_x_batch*self.g*(self.h[j_idx_batch]-self.h[i_idx_batch]) + self.p_da*self.w[u_idx_batch])
                diff_i = self.lr*(sigmoid_x_batch*self.g*(-self.w[u_idx_batch]) + self.p_da*self.h[i_idx_batch])
                diff_j = self.lr*(sigmoid_x_batch*self.g*self.w[u_idx_batch] + self.p_da*self.h[j_idx_batch])
                self.g -= diff_g
                self.w[u_idx_batch] -= diff_w
                self.h[i_idx_batch] -= diff_i
                self.h[j_idx_batch] -= diff_j
            
            ndcg, hr, auc = evaluation(self.test_user_book_rank, self.predict, self.eva_k)
            self.hr.append(hr)
            self.ndcg.append(ndcg)
            self.auc.append(auc)
            if epoch == record_epoch:
                self.record_w = self.w.copy()
                self.record_h = self.h.copy()
            print(f'epoch: {epoch+1}, HR: {hr}, NDCG: {ndcg}, AUC: {auc}')

In [ ]:
p_lambda, lr, max_epoch, dimension, eva_k, batch_size = 0.1, 0.1, 100, 64, 10, 64
bpr_mf = BPR_MF(p_lambda, lr, max_epoch, dimension, eva_k, batch_size)
bpr_mf.fit(kaggle_train, Xtest, ytest, record_epoch=50)

In [ ]:
p_lambda, lr, max_epoch, dimension, eva_k, batch_size, ratio=0.1, 0.1, 100, 64, 10, 64, 1
bpr_gmf = BPR_GMF(p_lambda, lr, max_epoch, dimension, eva_k, batch_size, ratio)
bpr_gmf.fit(kaggle_train, Xtest, ytest, record_epoch=50)